
data/2011_rankings.csv
data/2012_rankings.csv
data/2013_rankings.csv
data/2014_rankings.csv
data/2015_rankings.csv
data/2016_rankings.csv
data/2017_rankings.csv
data/2018_rankings.csv
data/2019_rankings.csv
data/2020_rankings.csv
data/2021_rankings.csv
data/2022_rankings.csv
.vscode/settings.json
data.zip
data/Global_YouTube_Statistics.csv
data/World_University_Rankings_2023.csv
week9map.vg.json
week9mapv2.vg copy.json
